/*-- scss:defaults --*/
$theme-darkblue: #18396e;
$theme-blue: #306998;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$body-bg: $theme-blue;
$body-color: $theme-white;
$link-color: $theme-darkblue;
$presentation-heading-color: $theme-white;

$font-family-sans-serif: 'Roboto', 'Manrope', sans-serif;
$presentation-heading-font: 'Merriweather', 'IBM Plex Serif', serif;

/*-- scss:rules --*/

.blue {
  color: $theme-blue;
  font-weight: bold;
}

.darkblue {
  color: $theme-darkblue;
  font-weight: bold;
}

.yellow {
  color: $theme-yellow;
  font-weight: bold;
}

.white {
  color: $theme-white;
  font-weight: bold;
}


.reveal .slide a {
  text-decoration: underline;
}

.highlight-last  {
  color: #c9a214;
  .current-fragment {
    color: black;
  }
}